{% extends "base_logged_in.html" %}

{% block title %}Bienvenido{% endblock title %}
{% block content %}
    Bienvenido {{ user.first_name }}.<br>

    {% if  clan_membership == 'no_clan'%}
        Actualmente no perteneces a ningún clan. <a href=join_clan>Únete a uno</a> o <a href=create_clan>créalo.</a>
    {% else %}
        <h5>Clanes a los que perteneces:</h5>
        <div class=collection>
        {% for clan in clan_membership %}
            <a href="/clan?tag={{ clan.tag }}" class=collection-item>{{ clan.name }}</a>
        {% endfor %}
        </div>
    {% endif %}


{% endblock content %}